* {
  font-size: 18rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.TopHeader {
  width: 100%;
  height: 56rem;
  font-size: 0;
  border-bottom: 1px solid #D4DCE2;
}
.TopHeader .th1 {
  vertical-align: top;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  margin-left: 15rem;
  margin-top: 18rem;
}
.TopHeader .th2 {
  display: inline-block;
  width: 112rem;
  height: 36rem;
  margin-left: 69rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.Banner {
  width: 100%;
  height: 232rem;
  background: url("../Home/p03.png") no-repeat;
  background-size: 304rem 172rem;
  background-position: 8rem 8rem;
}
.VideoIs {
  width: 100%;
  height: 1158rem;
}
.VideoIs .video1 {
  width: 292rem;
  height: 185rem;
  margin: 0 auto;
  position: relative;
}
.VideoIs .video1 .videoi1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.VideoIs .video1 .videoi2 {
  width: 60rem;
  height: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.VideoIs .text {
  width: 100%;
  height: 305rem;
  padding-left: 15rem;
  padding-top: 32rem;
}
.VideoIs .text .text1 {
  height: 24rem;
  font-family: Montserrat;
  font-size: 20rem;
  font-weight: 600;
  line-height: 24rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20rem;
}
.VideoIs .text .text2 {
  width: 290rem;
  height: 220rem;
}
.VideoIs .text .text2 .text2p1 {
  font-family: Source Han Sans CN;
  font-size: 13rem;
  font-weight: 700;
  line-height: 22rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 18rem;
}
.VideoIs .text .text2 .text2p2 {
  margin-bottom: 32rem;
}
.VideoIs .text .text2 .text2p2 p {
  font-family: Source Han Sans SC;
  font-size: 13rem;
  font-weight: 300;
  line-height: 22rem;
  letter-spacing: 0em;
  text-align: left;
}
.VideoIs .vimgs {
  width: 100%;
  height: 572rem;
  margin-top: 32rem;
}
.VideoIs .vimgs .vimg1 {
  height: 319rem;
  width: 100%;
  margin-bottom: 48rem;
  position: relative;
}
.VideoIs .vimgs .vimg1 .vimg11 {
  width: 171rem;
  height: 252rem;
  background: url("../Home/p04_2.png") no-repeat;
  background-size: 171rem 254rem;
  position: absolute;
  left: 15rem;
  top: 0;
}
.VideoIs .vimgs .vimg1 .vimg12 {
  width: 148rem;
  height: 179rem;
  background: url("../Home/p04_3.png") no-repeat;
  background-size: 148rem 179rem;
  right: 15rem;
  top: 136rem;
  position: absolute;
}
.VideoIs .vimgs .vimg1 .vb1 {
  width: 171rem;
  height: 252rem;
  background-color: #C41112;
  position: absolute;
  left: 11rem;
  top: 4rem;
  z-index: -1;
}
.VideoIs .vimgs .vimg1 .vb2 {
  width: 148rem;
  height: 179rem;
  background-color: #002654;
  position: absolute;
  right: 11rem;
  top: 140rem;
  z-index: -1;
}
.VideoIs .vimgs .vimg2 {
  width: 100%;
  height: 205rem;
  background: url("../Home/p04_4.png") no-repeat;
  background-position: center;
  background-size: 290rem 205rem;
}
.Imgs {
  width: 100%;
  height: 731rem;
  position: relative;
}
.Imgs .imgstitle {
  width: 290rem;
  height: 35rem;
  font-family: Source Han Sans CN;
  font-size: 24rem;
  font-weight: 700;
  line-height: 35rem;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 0 3rem 0 #D4DCE2;
}
.Imgs .hyellow {
  width: 121rem;
  height: 14rem;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 24rem;
  transform: translate(-50%);
  background-color: #FFF2D4;
}
.Imgs .boxa {
  position: absolute;
  width: 140rem;
  height: 198rem;
  z-index: 2;
}
.Imgs .box1 {
  left: 15rem;
  top: 68rem;
  background: url("../Home/p11_1.png") no-repeat;
  background-size: 100% 100%;
  z-index: 0;
}
.Imgs .box2 {
  right: 15rem;
  top: 88rem;
  background: url("../Home/p11_2.png") no-repeat;
  background-size: 100% 100%;
}
.Imgs .box3 {
  left: 15rem;
  bottom: 151rem;
  background: url("../Home/p11_3.png") no-repeat;
  background-size: 100% 100%;
  z-index: 0;
}
.Imgs .box4 {
  right: 15rem;
  bottom: 131rem;
  background: url("../Home/p11_4.png") no-repeat;
  background-size: 100% 100%;
}
.Imgs .bottoml {
  width: 40rem;
  height: 0;
  border-bottom: 2px solid #002654;
  position: absolute;
}
.Imgs .bottom1 {
  left: 65rem;
  top: 282rem;
}
.Imgs .bottom2 {
  right: 65rem;
  top: 302rem;
}
.Imgs .bottom3 {
  left: 65rem;
  top: 596rem;
}
.Imgs .bottom4 {
  right: 65rem;
  top: 616rem;
}
.Imgs .btext {
  width: 140rem;
  height: 36rem;
  position: absolute;
  font-family: Montserrat;
  font-size: 12rem;
  font-weight: 500;
  line-height: 18rem;
  letter-spacing: 0em;
  text-align: center;
}
.Imgs .btext1 {
  left: 15rem;
  top: 298rem;
}
.Imgs .btext2 {
  right: 15rem;
  top: 318rem;
}
.Imgs .btext3 {
  left: 15rem;
  top: 612rem;
}
.Imgs .btext4 {
  right: 15rem;
  top: 632rem;
}
.Imgs .iline1 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url("../Home/p11_5.png") no-repeat;
  background-size: 1672rem 103rem;
  background-position: -260rem 97rem;
}
.Imgs .iline2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url("../Home/p11_6.png") no-repeat;
  background-size: 1672rem 103rem;
  background-position: -260rem 114rem;
}
.MobilePhone {
  width: 100%;
  height: 701rem;
  padding-top: 48rem;
  background-color: #F2F7FA;
  margin-bottom: 86rem;
}
.MobilePhone .mpwords {
  width: 290rem;
  height: 50rem;
  margin: 0 auto;
  font-family: Source Han Sans CN;
  font-size: 15rem;
  font-weight: 500;
  line-height: 23rem;
  letter-spacing: 0em;
  text-align: left;
}
.MobilePhone .mpwords1 {
  width: 290rem;
  height: 90rem;
  margin: 0 auto;
  margin-top: 24rem;
  margin-bottom: 6rem;
  font-family: Source Han Sans SC;
  font-size: 13rem;
  font-weight: 300;
  line-height: 22rem;
  letter-spacing: 0em;
  text-align: left;
}
.MobilePhone .mpimg {
  width: 100%;
  height: 133rem;
  position: relative;
}
.MobilePhone .mpimg .mpimg1 {
  width: 126.3rem;
  height: 133rem;
  position: absolute;
  left: 20rem;
  top: 0;
}
.MobilePhone .mpimg .mptext1 {
  width: 131rem;
  height: 18rem;
  position: absolute;
  font-family: Source Han Sans SC;
  font-size: 16rem;
  font-weight: 500;
  line-height: 18rem;
  letter-spacing: 0em;
  text-align: left;
  left: 165rem;
  top: 28rem;
}
.MobilePhone .mpimg .mptext2 {
  width: 136rem;
  height: 18rem;
  position: absolute;
  font-family: Source Han Sans SC;
  font-size: 16rem;
  font-weight: 300;
  line-height: 18rem;
  letter-spacing: 0em;
  text-align: left;
  left: 165rem;
  top: 48rem;
}
.MobilePhone .mpimg .mpimg2 {
  width: 26.6rem;
  height: 26.6rem;
  position: absolute;
  left: 165rem;
  top: 78rem;
}
.MobilePhone .mpphone {
  width: 100%;
  height: 404rem;
  margin-top: 32rem;
  background: url("../Home/p05_2.png") no-repeat;
  background-size: 210rem 404rem;
  background-position-x: center;
}
.Logos {
  height: 368rem;
  margin: 64rem 0;
  margin-top: 150rem;
  margin-left: 15rem;
}
.Logos .ltitle {
  width: 290rem;
  height: 35rem;
  font-family: Source Han Sans CN;
  font-size: 24rem;
  font-weight: 700;
  line-height: 35rem;
  letter-spacing: 0em;
  text-align: center;
  text-shadow: 0 3rem 0 #D4DCE2;
  position: relative;
}
.Logos .ltitle .hyellow {
  width: 121rem;
  height: 14rem;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 40%);
  background-color: #FFF2D4;
}
.Logos .logosbox {
  height: 216rem;
  margin: 34rem 0;
  font-size: 0;
  text-align: center;
}
.Logos .logosbox img {
  width: 90rem;
  height: 45rem;
  display: inline-block;
  margin-right: 10rem;
  margin-bottom: 12rem;
}
.Logos .lbutton {
  width: 180rem;
  height: 52rem;
  margin: 0 auto;
  border: 1px solid black;
  font-family: Montserrat;
  font-size: 16rem;
  font-weight: 500;
  line-height: 52rem;
  letter-spacing: 0em;
  text-align: center;
  transition: 0.45s;
}
.Logos .lbutton:hover {
  box-shadow: 4rem 4rem #002654;
}
.Postcardblock {
  width: 100%;
  height: 625rem;
  margin-bottom: 48rem;
}
.Postcardblock .pbg {
  width: 290rem;
  height: 616rem;
  margin-left: 15rem;
  position: relative;
  background-color: #F2F7FA;
}
.Postcardblock .pbg .pbg1 {
  width: 290rem;
  height: 616rem;
  background: url("../Home/p12_7.png") no-repeat;
  background-size: 290rem 616rem;
  position: absolute;
  left: 8rem;
  top: 8rem;
  z-index: 1;
}
.Postcardblock .pbg .pbg2 {
  display: block;
  width: 109rem;
  height: 143rem;
  position: absolute;
  left: 20rem;
  top: 20rem;
  z-index: 1;
}
.Postcardblock .pbg .pbg3 {
  width: 36rem;
  height: 20rem;
  position: absolute;
  left: 138rem;
  top: 107rem;
  z-index: 1;
}
.Postcardblock .pbg .pbg4 {
  width: 100rem;
  height: 100rem;
  position: absolute;
  left: 179rem;
  top: 39rem;
  z-index: 1;
}
.Postcardblock .pbg .pbg5 {
  height: 36rem;
  position: absolute;
  left: 29rem;
  top: 195rem;
  z-index: 1;
  font-family: Oswald;
  font-size: 24rem;
  font-weight: 300;
  line-height: 36rem;
  letter-spacing: 0em;
  text-align: center;
}
.Postcardblock .pbg .pbg6 {
  width: 246rem;
  height: 218rem;
  position: absolute;
  left: 29rem;
  top: 252rem;
  z-index: 1;
  font-size: 0;
}
.Postcardblock .pbg .pbg6 .pbg61 {
  font-family: Source Han Sans CN;
  font-size: 13rem;
  font-weight: 700;
  line-height: 22rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20rem;
}
.Postcardblock .pbg .pbg6 .pbg62 {
  font-family: Source Han Sans SC;
  font-size: 13rem;
  font-weight: 300;
  line-height: 22rem;
  letter-spacing: 0em;
  text-align: left;
}
.Postcardblock .pbg .pbg7 {
  width: 164rem;
  height: 73rem;
  position: absolute;
  left: 63rem;
  top: 502rem;
  z-index: 1;
}
.Imagesblock {
  width: 100%;
  height: 1072rem;
  background-color: #F2F7FA;
  padding-top: 32rem;
  padding-left: 15rem;
  font-size: 0;
}
.Imagesblock .ibtitle {
  height: 32rem;
  margin-bottom: 32rem;
  position: relative;
}
.Imagesblock .ibtitle .ibtitle1 {
  font-family: Source Han Sans CN;
  height: 32rem;
  font-size: 22rem;
  font-weight: 700;
  line-height: 32rem;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: 0 3rem 0 #D4DCE2;
}
.Imagesblock .ibtitle .hyellow {
  width: 121rem;
  height: 14rem;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 40%);
  background-color: #FFF2D4;
}
.Imagesblock .ibitems {
  width: 140rem;
  height: 275rem;
  display: inline-block;
  margin-right: 10rem;
  text-align: center;
  margin-bottom: 43rem;
}
.Imagesblock .ibitems .imgbox {
  width: 140rem;
  height: 171rem;
  transition: 0.55s;
  position: relative;
}
.Imagesblock .ibitems .imgbox img {
  width: 140rem;
  height: 171rem;
}
.Imagesblock .ibitems .imgbox .coverw {
  width: 140rem;
  height: 171rem;
  transition: 0.55s;
  position: absolute;
}
.Imagesblock .ibitems .imgbox .coverw:hover {
  background-color: white;
  opacity: 50%;
}
.Imagesblock .ibitems .imgbox .cword {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Source Han Sans CN;
  font-size: 24rem;
  font-weight: 500;
  line-height: 36rem;
  letter-spacing: 0em;
  text-align: center;
  transition: 0.55s;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.Imagesblock .ibitems .imgbox:hover {
  box-shadow: 8rem 8rem #002654;
}
.Imagesblock .ibitems .imgbox:hover .cword {
  opacity: 100%;
  cursor: default;
  pointer-events: none;
}
.Imagesblock .ibitems .ibtime {
  font-family: Montserrat;
  font-size: 12rem;
  font-weight: 500;
  line-height: 15rem;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 18rem;
}
.Imagesblock .ibitems .ibt {
  font-family: Source Han Sans CN;
  font-size: 18rem;
  font-weight: 500;
  line-height: 27rem;
  letter-spacing: 0em;
  text-align: center;
}
.Imagesblock .ibitems .ibb {
  width: 119rem;
  height: 33rem;
  font-family: Montserrat;
  font-size: 14rem;
  font-weight: 500;
  line-height: 33rem;
  letter-spacing: 0em;
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 18rem;
}
.Imagesblock .ibitemsl {
  width: 140rem;
  height: 275rem;
  display: inline-block;
  margin-right: 10rem;
  text-align: center;
  margin-bottom: 43rem;
  vertical-align: top;
}
.Imagesblock .ibitemsl .ibborder {
  width: 100%;
  height: 249rem;
  border: 1px solid black;
}
.Imagesblock .ibitemsl .ibborder .ibl1 {
  width: 90rem;
  margin: 16rem 0;
  margin-left: 12rem;
  font-family: Source Han Sans CN;
  font-size: 16rem;
  font-weight: 500;
  line-height: 24rem;
  letter-spacing: 0em;
  text-align: left;
}
.Imagesblock .ibitemsl .ibborder .ibl {
  width: 90rem;
  margin-left: 12rem;
  font-family: Montserrat;
  font-size: 12rem;
  font-weight: 500;
  line-height: 15rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10rem;
}
.Imagesblock .ibitemsl .ibborder .ibl21 {
  margin-bottom: 20rem;
}
.Imagesblock .ibitemsl .ibborder .ibl2 {
  width: 119rem;
  height: 33rem;
  border: 1px solid black;
  font-family: Montserrat;
  font-size: 14rem;
  font-weight: 500;
  line-height: 33rem;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 12rem;
}
.Fill {
  width: 100%;
  height: 906rem;
  padding-top: 64rem;
  padding-bottom: 58rem;
}
.Fill .fill1 {
  width: 290rem;
  height: 778rem;
  margin-left: 15rem;
  border: 1px solid #002654;
  box-shadow: 6rem 6rem 0px #002654;
  font-size: 0;
}
.Fill .fill1 img {
  width: 100%;
  height: 4rem;
}
.Fill .fill1 .fill2 {
  width: 290rem;
  height: 32rem;
  font-family: Source Han Sans CN;
  font-size: 22rem;
  font-weight: 700;
  line-height: 32rem;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 32rem;
  margin-bottom: 32rem;
  text-shadow: 0 3rem 0 #D4DCE2;
  position: relative;
}
.Fill .fill1 .fill2 .hyellow {
  width: 121rem;
  height: 14rem;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  background-color: #FFF2D4;
}
.Fill .fill1 .fill3 {
  width: 258rem;
  font-family: Source Han Sans SC;
  font-size: 13rem;
  font-weight: 300;
  line-height: 22rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 24rem;
  border-bottom: 1px solid #D4DCE2;
  margin-bottom: 12rem;
}
.Fill .fill1 .fill4 {
  width: 258rem;
  margin-left: 16rem;
}
.Fill .fill1 .fill4 .cleari {
  font-size: 0;
}
.Fill .fill1 .fill4 .cleari .inputs {
  border: 1px solid black;
  border-radius: 4rem;
  width: 258rem;
  height: 50rem;
}
.Fill .fill1 .fill4 .cleari .inputs::-webkit-input-placeholder {
  color: black;
}
.Fill .fill1 .fill4 .cleari .inputs::input-placeholder {
  color: black;
}
.Fill .fill1 .fill4 .cleari .inputs::-ms-input-placeholder {
  color: black;
}
.Fill .fill1 .fill4 .cleari .inputs:focus {
  background-color: #FFF2D4;
  padding-left: 16rem;
  outline: none;
}
.Fill .fill1 .fill4 .cleari .inputs:focus::-webkit-input-placeholder {
  padding-left: 0;
}
.Fill .fill1 .fill4 .cleari .inputs1 {
  margin-right: 15rem;
  color: black;
  font-family: Montserrat;
  font-size: 13rem;
  font-weight: 400;
  line-height: 16rem;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 12rem;
}
.Fill .fill1 .fill4 .cleari .inputs1:focus {
  width: 258rem;
}
.Fill .fill1 .fill4 .cleari .inputs1:enabled {
  padding-left: 16rem;
}
.Fill .fill1 .fill4 .cleari .inputs2 {
  margin-top: 12rem;
  color: black;
  font-family: Montserrat;
  font-size: 13rem;
  font-weight: 400;
  line-height: 16rem;
  letter-spacing: 0em;
  text-align: left;
}
.Fill .fill1 .fill4 .cleari .inputs2:focus {
  width: 258rem;
}
.Fill .fill1 .fill4 .cleari .inputs2:enabled {
  padding-left: 16rem;
}
.Fill .fill1 .fill4 .cleari .sel {
  position: relative;
}
.Fill .fill1 .fill4 .cleari .sel .selectt {
  margin-top: 12rem;
  padding-left: 13rem;
  color: black;
  font-family: Montserrat;
  font-size: 13rem;
  font-weight: 400;
  line-height: 16rem;
  letter-spacing: 0em;
  text-align: left;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.Fill .fill1 .fill4 .cleari .sel .selectt option {
  color: black;
  font-family: Montserrat;
  font-size: 13rem;
  font-weight: 400;
  line-height: 16rem;
  letter-spacing: 0em;
  text-align: left;
}
.Fill .fill1 .fill4 .cleari .sel .selectt:focus {
  width: 258rem;
  padding-left: 13rem;
}
.Fill .fill1 .fill4 .cleari .sel:after {
  position: absolute;
  left: 227rem;
  bottom: 21rem;
  width: 12rem;
  height: 6rem;
  /* 使用伪元素需加上content，否则无效 */
  content: '';
  background: url(../Home/p07_3.png);
  background-size: 12rem 6rem;
}
.Fill .fill1 .fill4 .cleari .textarea {
  resize: none;
  margin-top: 15rem;
  width: 258rem;
  height: 89rem;
}
.Fill .fill1 .fill4 .cleari .textarea::-webkit-input-placeholder {
  color: black;
}
.Fill .fill1 .fill4 .cleari .textarea:focus {
  padding: 17rem 0 0 16rem;
  width: 258rem;
  height: 95rem;
}
.Fill .fill1 .fill4 .cleari .textarea:focus::-webkit-input-placeholder {
  padding: 0;
}
.Fill .fill1 .fill4 .cleari .textarea:enabled {
  padding: 17rem 0 0 16rem;
  width: 258rem;
  height: 95rem;
  color: black;
  font-family: Montserrat;
  font-size: 13rem;
  font-weight: 400;
  line-height: 16rem;
  letter-spacing: 0em;
  text-align: left;
}
.Fill .fill1 .fill4 .cleari .fbsubmit {
  width: 180rem;
  height: 52rem;
  background-color: #fff;
  border: 1px solid black;
  font-size: 13rem;
  transition: 0.45s;
  margin-top: 32rem;
  margin-left: 39rem;
}
.Fill .fill1 .fill4 .cleari .fbsubmit:hover {
  box-shadow: 4rem 4rem #002654;
}
.Footerlogo {
  width: 100%;
  height: 115rem;
  border-top: 1px solid #D4DCE2;
  border-bottom: 1px solid #D4DCE2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footerlogo img {
  width: 208rem;
  height: 67rem;
}
.FooterNav {
  width: 100%;
  height: 191rem;
  border-bottom: 1px solid #D4DCE2;
}
.FooterNav .ft1 {
  margin-top: 24rem;
  margin-left: 16rem;
  font-size: 0;
}
.FooterNav .ft1 span {
  width: 32rem;
  height: 23rem;
  font-family: Source Han Sans CN;
  font-size: 16rem;
  font-weight: 400;
  line-height: 23rem;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 20rem;
}
.FooterNav .ft2 {
  margin-top: 24rem;
  margin-left: 66rem;
  font-size: 0;
}
.FooterNav .ft2 span {
  width: 80rem;
  height: 23rem;
  font-family: Source Han Sans CN;
  font-size: 16rem;
  font-weight: 400;
  line-height: 23rem;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 15rem;
}
.FooterNav .ft3 {
  height: 24rem;
  margin-top: 55rem;
  margin-left: 37rem;
}
.FooterNav .ft3 img {
  height: 24rem;
  margin: 0 16rem;
}
.ContactInfo {
  width: 100%;
  height: 284rem;
  position: relative;
}
.ContactInfo .ft1 {
  font-family: Source Han Sans CN;
  font-size: 15rem;
  font-weight: 400;
  line-height: 32rem;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  left: 15rem;
  height: 32rem;
}
.ContactInfo .ft2 {
  font-family: Source Han Sans SC;
  font-size: 13rem;
  font-weight: 300;
  line-height: 20rem;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  left: 15rem;
  height: 32rem;
  margin-top: 8rem;
}
.ContactInfo .ft11 {
  top: 24rem;
}
.ContactInfo .ft12 {
  top: 52rem;
}
.ContactInfo .ft13 {
  top: 100rem;
}
.ContactInfo .ft14 {
  top: 128rem;
}
.ContactInfo .ft15 {
  top: 176rem;
}
.ContactInfo .ft16 {
  width: 200rem;
  height: 48rem;
  top: 204rem;
}
.ContactInfo .p09fixed {
  position: absolute;
  width: 90rem;
  height: 109rem;
  right: 15rem;
  bottom: 32rem;
  background: #FFFFFF;
  box-shadow: 0 6rem 12rem rgba(0, 38, 84, 0.2);
  border-radius: 4rem;
  background-size: 108rem 131rem;
  z-index: 4;
}
.ContactInfo .p09fixed img {
  display: block;
  height: 67.8rem;
  margin: 10rem 10rem 0 10rem;
}
.ContactInfo .p09fixed span {
  display: block;
  margin-top: 8rem;
  font-family: Source Han Sans SC;
  font-size: 10rem;
  font-weight: 500;
  line-height: 18rem;
  letter-spacing: 0em;
  text-align: center;
}
.allfixed {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.allfixed .afcenter {
  width: 290rem;
  height: 126rem;
  margin: 221rem 15rem;
  background-color: #fff;
  opacity: 100%;
  position: relative;
}
.allfixed .afcenter .mpimg1 {
  width: 91rem;
  height: 92rem;
  position: absolute;
  left: 17rem;
  top: 17rem;
}
.allfixed .afcenter .mptext1 {
  width: 152rem;
  height: 18rem;
  position: absolute;
  font-family: Source Han Sans SC;
  font-size: 16rem;
  font-weight: 500;
  line-height: 18rem;
  letter-spacing: 0em;
  text-align: left;
  left: 120rem;
  top: 16rem;
}
.allfixed .afcenter .mptext2 {
  width: 116rem;
  height: 18rem;
  position: absolute;
  font-family: Source Han Sans SC;
  font-size: 16rem;
  font-weight: 300;
  line-height: 18rem;
  letter-spacing: 0em;
  text-align: left;
  left: 120rem;
  top: 40rem;
}
.allfixed .afcenter .mpimg2 {
  width: 32rem;
  height: 32rem;
  position: absolute;
  left: 120rem;
  top: 77rem;
}
